<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% extends "index.html" %}
{% block content %}
<h1 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Credit To:</h1>
<h6 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Zillow: For creating data</h6>
<h6 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Kaggle: For storing data</h6>
<h6 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Rob Mulla: For putting the data on Kaggle</h6>
{% endblock %}
</body>
</html>